@page
@model Programowanie_Projekt_Web.Pages.GameModel
@{
    ViewData["Title"] = "Game";
    var question = Model.Questions[Model.CurrentQuestionIndex];
}
<div class="quiz-container">
    <div class="question-section">
        @if (question.Image != null && question.Image.Length > 0)
        {
            <img src="@Programowanie_Projekt_Web.Model.Utility.ByteArrayToBase64Image(question.Image)" alt="Obraz do pytania" class="question-image" />
        }
        <p class="question-text">@question.Question</p>
    </div>
    <form method="post">
        <div class="answers-section">
            @foreach (var answer in question.Answers)
            {
                <label class="answer-option">
                    <input type="checkbox" name="SelectedAnswers" value="@answer.Id" />
                    @answer.Content
                </label>
            }
        </div>
        <input type="hidden" name="questionIndex" value="@Model.CurrentQuestionIndex" />
        <input type="hidden" name="score" value="@Model.Score" />
        <button type="submit" class="button-next">Następne pytanie</button>
    </form>
</div>
