@page
@model Programowanie_Projekt_Web.Pages.GameModel
@{
    ViewData["Title"] = "Game";
}
<div class="quiz-container">
    <div class="question-section">
        @if (Model.CurrentQuestion.Image != null && Model.CurrentQuestion.Image.Length > 0)
        {
            <img src="@Programowanie_Projekt_Web.Model.Utility.ByteArrayToBase64Image(Model.CurrentQuestion.Image)" alt="Obraz do pytania" class="question-image" />
        }
        <p class="question-text">@Model.CurrentQuestion.Question</p>
    </div>
    <form method="post">
        <div class="answers-section">
            @foreach (var answer in Model.CurrentQuestion.Answers)
            {
                <label class="answer-option">
                    <input type="checkbox" name="SelectedAnswers" value="@answer.Id" />
                    @answer.Content
                </label>
            }
        </div>
        <input type="hidden" name="Score" value="@Model.Score" />
        <button type="submit" class="button-next">Następne pytanie</button>
    </form>
</div>
